.container{
    width: 20em;
    padding: 0.5em;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.counterContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
    padding: 0.5em;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.626);
}

.stock{
    font-size: 0.9em;
    text-align: center;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.626);
    border: none;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.addButton{
    margin: auto;
    margin-top: 1em;
    width: 10em;
    height: 3em;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.finishButton{
    text-decoration: none;
    color: white;
}


.button:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.button.disabled{
    background-color: rgba(0, 0, 0, 0.3);
    cursor: not-allowed;
}