.itemContainer{
    width: 20em;
    padding: 0.4em;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;
}

.itemButton{
    height: 3em;
    background-color: red;
    width: 40%;
    margin: auto;
    font-size: 1em;
    border: none;
    color: white;
    cursor: pointer;
}

.itemButton a {
    text-decoration: none;
    color: white;
}

.name{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.image{
    width: 90%;
    height: 25em;
    background-color: rgba(0, 0, 0, 0.626);
    margin: auto;
}